@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto Mono", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1;
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  background-image: url(https://cdn.dribbble.com/users/5031/screenshots/3713646/attachments/832536/wallpaper_mikael_gustafsson.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(20px);
}

.loading {
  color: white;
  font-size: 2.5rem;
}
